html,
body {
  font-size: 1rem;
  color: #ffffff;
}

.bg-img {
  background-image: url(./Assets/background-img.png);
  height: 1000px;
  background-size: cover;
  background-position: center;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.hero {
  padding: 50px;
}

.btns {
  padding-top: 25px;
}

.testimony {
    background-color: black;
}

.testimony .container {
    padding:35px;
}
